<div #gettingStarted style="position:absolute; transform:translateY(-70px);" id="getting-started">
</div>
<h1>Getting started</h1>
<p>Welcome to Angular! Angular helps you build modern applications for the web, mobile, or desktop.</p>
<p>This guide shows you how to build and run a simple Angular app. You'll use the Angular CLI tool to accelerate development, while adhering to the Style Guide recommendations that benefit every Angular project.</p>
<p>This guide takes less than 30 minutes to complete. At the end of this guide—as part of final code review—there is a link to download a copy of the final application code. (If you don't execute the commands in this guide, you can still download the final application code.)</p>

<div #prerequisites style="position:absolute; transform:translateY(-70px);" id="prerequisites"></div>
<h2>Prerequisites</h2>
<p>Before you begin, make sure your development environment includes Node.js® and an npm package manager. </p>

<div #nodejs style="position:absolute; transform:translateY(-70px);" id="nodejs"></div>
<h3>Node.js</h3>
<p>Angular requires Node.js version 8.x or 10.x.</p>
<ul>
  <li>To check your version, run node -v in a terminal/console window.</li>
  <li>To get Node.js, go to nodejs.org.</li>
</ul>


<div #npmPackageManager style="position:absolute; transform:translateY(-70px);" id="npm-package-manager">
</div>
<h3>npm package manager</h3>
<p>Angular, the Angular CLI, and Angular apps depend on features and functionality provided by libraries that are available as npm packages. To download and install npm packages, you must have an npm package manager. </p>
<p>This Quick Start uses the npm client command line interface, which is installed with Node.js by default. </p>
<p>To check that you have the npm client installed, run npm -v in a terminal/console window.</p>

<div #step1InstallTheAngularCli style="position:absolute; transform:translateY(-70px);" id="step-1--install-the-angular-cli"></div>
<h2>Step 1: Install the Angular CLI</h2>
<p>You use the Angular CLI to create projects, generate application and library code, and perform a variety of ongoing development tasks such as testing, bundling, and deployment.</p>
<p>Install the Angular CLI globally. </p>
<p>To install the CLI using npm, open a terminal/console window and enter the following command:</p>

