<div>
  <nav>
    <button id="sideBarIcon" *ngIf="isShowing"><span>|||</span></button>
    <a routerLink="/" routerLinkActive="appHome">Angular</a>
    <a routerLink="/features" routerLinkActive="appFeatures">FEATURES</a>
    <a routerLink="/docs" routerLinkActive="appDocs">DOCS</a>
    <a routerLink="/resources" routerLinkActive="appResources">RESOURCES</a>
    <a routerLink="/events" routerLinkActive="appEvents">EVENTS</a>
    <a routerLink="/blog" routerLinkActive="appBlog">BLOG</a>
    <input type="text" id="navSearch" />
    <span id="twitterIcon">Twit</span>
    <span id="githubIcon">Git</span>
  </nav>
</div>