<div id="nav-container">
  <nav>
    <app-menu-button id="side-bar-icon" *ngIf="isButtonShowing" (click)="toggleShowing()" (mousedown)="doRipple($event)" [xCord]="clientX" [yCord]="clientY" [clicked]="clicked"></app-menu-button>
    <a routerLink="/" routerLinkActive="appHome">Angular</a>
    <div id="top-menu">
      <ul>
        <li><a routerLink="/features" routerLinkActive="appFeatures"><span>FEATURES</span></a></li>
        <li><a routerLink="/docs" routerLinkActive="appDocs"><span>DOCS</span></a></li>
        <li><a routerLink="/resources" routerLinkActive="appResources"><span>RESOURCES</span></a></li>
        <li><a routerLink="/events" routerLinkActive="appEvents"><span>EVENTS</span></a></li>
        <li><a routerLink="/blog" routerLinkActive="appBlog"><span>BLOG</span></a></li>
      </ul>
    </div>
    <div id="search-container">
      <input type="text" id="navSearch" placeholder="Search" />
    </div>
    <div id="icons-container">
      <span id="twitterIcon">Twit</span>
      <span id="githubIcon">Git</span>
    </div>
  </nav>
</div>