a{
  color: #fff;
  text-decoration: none;
  outline: 0;
}

#nav-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  background: #1976d2;
  color: #fff;
  z-index: 2;
}

nav{
  height: 64px;
  padding-right: 16px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

#side-bar-icon{
  background-color: transparent;
  /*background-repeat:;*/
  border: none;
  outline: 0;
  /*overflow: hidden;*/
  height: 100%;
  margin: 0 8px 0 0;
  min-width: 64px;
  border-radius: 4px;
}
#side-bar-icon:focus{
  outline: 0;
}

#side-bar-icon:hover{
  background-color: #096BCA;
}

#side-bar-icon span svg{
  padding: 19px 19px;
}

#first-ripple{
  border-radius: 50px;
  transition: transform 1s linear;
  width: 1px;
  height: 1px;
  background-color: red;
}
.doRipple{

  transform: scale(64, 64);
}

#top-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

#top-menu ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

#top-menu ul li{
  padding-bottom: 2px;
}

#top-menu ul a{
  padding: 24px 0;
  font-size: 16px;
  font-weight: 400px;
}

#top-menu ul a span{
  padding: 8px 16px;
  border-radius: 5px;
}

#top-menu ul a:hover{
  opacity: 0.7;
}

#top-menu ul a:focus span{

  background-color: #3D8Cd8;
}

#search-container{
  width: 100%;
  height: 100%;
  min-width: 150px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

#search-container input{
  color: #333;
  padding: 5px 16px;
  height: 50%;
  border-radius: 100px;
  border: none;
  width: 180px;
  max-width: 240px;
  background-color: #fafafa;
  margin-left: 8px;
  transition: width .4s ease-in-out;
  box-sizing: border-box;
}

#search-container input:focus{
  width: 222px;
}