<header>
  <div>
    <nav>
      <button id="sideBarIcon" *ngIf="isShowing"><span>|||</span></button>
      <a routerLink="/" routerLinkActive="appHome">Angular</a>
      <a routerLink="/features" routerLinkActive="appFeatures">FEATURES</a>
      <a routerLink="/docs" routerLinkActive="appDocs">DOCS</a>
      <a routerLink="/resources" routerLinkActive="appResources">RESOURCES</a>
      <a routerLink="/events" routerLinkActive="appEvents">EVENTS</a>
      <a routerLink="/blog" routerLinkActive="appBlog">BLOG</a>
      <input type="text" id="navSearch" />
      <span id="twitterIcon">Twit</span>
      <span id="githubIcon">Git</span>
    </nav>
  </div>
  <app-side-bar *ngIf="isShowing" ></app-side-bar>
  <p>{{isShowing | json}}</p>
</header>

<router-outlet #routerOutlet="outlet"></router-outlet>

<footer>
  <nav>
    <ul>
      <li class="footUlTitle">RESOURCES</li>
      <li>About</li>
      <li>Resource Listing</li>
      <li>Press Kit</li>
      <li>Blog</li>
    </ul>
    <ul>
      <li class="footUlTitle">HELP</li>
      <li>Stack Overflow</li>
      <li>Gitter</li>
      <li>Report Issues</li>
      <li>Code Of Conduct</li>
    </ul>
    <ul>
      <li class="footUlTitle">COMMUNITY</li>
      <li>Events</li>
      <li>Meetups</li>
      <li>Twitter</li>
      <li>GitHub</li>
      <li>Contribute</li>
    </ul>
    <ul>
      <li class="footUlTitle">LANGUAGES</li>
      <li>中文版</li>
      <li>日本語版</li>
    </ul>
  </nav>
  <p>Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0. </p>
  <p>Version 7.1.5-local+sha.9129112. </p>
</footer>
