<header>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'"/>
  <app-main-navbar></app-main-navbar>
  <div *ngIf="isSidebarShowing" [@slideInOut]>
    <app-side-bar ></app-side-bar>
  </div>
</header>

<router-outlet #routerOutlet="outlet"></router-outlet>

<footer>
  <nav>
    <ul>
      <li class="footUlTitle">RESOURCES</li>
      <li>About</li>
      <li>Resource Listing</li>
      <li>Press Kit</li>
      <li>Blog</li>
    </ul>
    <p>{{isShowing | json | uppercase}}</p>
    <ul>
      <li class="footUlTitle">HELP</li>
      <li>Stack Overflow</li>
      <li>Gitter</li>
      <li>Report Issues</li>
      <li>Code Of Conduct</li>
    </ul>
    <ul>
      <li class="footUlTitle">COMMUNITY</li>
      <li>Events</li>
      <li>Meetups</li>
      <li>Twitter</li>
      <li>GitHub</li>
      <li>Contribute</li>
    </ul>
    <ul>
      <li class="footUlTitle">LANGUAGES</li>
      <li>中文版</li>
      <li>日本語版</li>
    </ul>
  </nav>
  <p>Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0. </p>
  <p>Version 7.1.5-local+sha.9129112. </p>
  <a href="https://icons8.com/icon/82853/menu">Menu icon by Icons8</a>
</footer>
