:host{
  width: 18%;
  position: fixed;
  top: 76px;
  right: 0;
  bottom: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px 0 0 10px;
}

#container{
  overflow-y: visible;
  height: 50px;
  padding-top:0;
}

a{
  text-decoration: none;
  color: #4d4c4c;
  font-size: 12px;
  display: table-cell;
}
a:visited{
  text-decoration: none;
}
a:not(.active):hover{
  color:#4598e3;
}
ul{
  padding: 0 8px 0 0;
  list-style: none
}

.inner-li{
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 0 3px 12px;
  position: relative;
  transition: all .3s ease-in-out;

} 

.inner-li:before{
  content: "";
  border-left: 1px solid #dbdbdb;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
}

.active:before{
  position: absolute;
  left: -3px;
  top: 12px;
  content: "";
  width: 6px;
  height: 6px;
  background: #1976d2;
  border-radius: 50%;
  box-sizing: none;
}
.active{
  color: #1976d2;
}

.subtitles{
  padding-left: 24px;
}

.main-title:after{
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: 7px 0 4px;
  background: #dbdbdb;
  clear: both;
}