<div *ngIf="!doCollapse">
  <a #anchor routerLink="{{urls.self}}" title="{{title.description}}" class="menu-item" >{{title.name}}</a>
  <div></div>
</div>
<!-- routerLink="{{url}}" -->
<button #test *ngIf="doCollapse" title="{{title.description}}" class="menu-item level-1" (click)="collapse()">{{title.name}}
  <span #icon>
    <svg focusable="false" viewBox="0 0 24 24"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg>
  </span>
</button>
<app-sub-menu *ngIf="doCollapse && isCollapsed" [titles]="title.children" [urls]="urls.children"></app-sub-menu>